.avatar-show-img {
  width: 128px;
  height: 128px;
}
.job-title-icon {
display: inline-block;
width: 30px;
height: 30px;
border: 2px solid #2B4550;
border-radius: 4px;
background-color: #3B5570;
text-align: center;
color: white;
}

.well.profile-block {
  color: #fff;
  h3 {
  margin-top: 0;
  }
}

.well.profile-block.profile-contact-info {
  background-color: #3B5570;
  border-color: #2B4550;
}

.well.profile-block.profile-description {
  background-color: #E3671E;
  border-color: #E3673F;
}
